body{
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
}
.heading{
color: aliceblue;
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 30%;
padding-bottom: 10px;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}
.row{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.flex-item{
    background: yellow;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}
#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

